html {
font-size: 15px;

}

body {
  margin: auto;
}

#home-header {
  width: 100%;
  background-color: #b3b3b3;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

#home-title {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  font-size: 3em;
}

#home-websites {
  margin: 0px;
  text-align: center;
  color: blue;
  font-size: 1.3em;
}

.navbar {
  overflow: hidden;
  background-color:  #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;

}

.navbar a {
  display: inline-block;
  color: #4d4d4d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #b3b3b3;
  color: white;
}

.main {
    margin-top: 30px;
}

.home-text {
  text-align: center;
  color: #4d4d4d;
  font-size: 1.2em;
}

#qgis-plugin-header {
width: 100%;
background-color: #2b2b2b;
padding-top: 25px;
padding-bottom: 15px;
padding-left: 0px;
padding-right: 0px;
background-image: url('images/plugins-header.png'); height: 120px;
background-repeat: no-repeat;
background-position: center;
}

.plugin-summary {
  color: #4d4d4d;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.plugin-summary a {
  display:block;
  color: #4d4d4d;
  text-decoration: none;
  font-size: 1.5em;
  padding-top: 15px;
  padding-bottom: 15px;
}

.plugin-summary p {
  margin: 0px;
}
